<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ClimaStock</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body class="dashboard-bg">
<fragment th:replace="fragments/header :: main-header('ClimaStock', 'dashboard')"/>

<div class="dashboard-flex dashboard-flex-row">
  <div class="intro">
    <h2>¿Qué es ClimaStock?</h2>
    <ul>
      <li>Gestiona tu catálogo de productos y tiendas físicas.</li>
      <li>Consulta el clima en tiempo real para cada tienda.</li>
      <li>Obtén recomendaciones automáticas de productos según la previsión meteorológica.</li>
      <li>Optimiza la exposición de prendas y mejora la experiencia en tienda.</li>
    </ul>
  </div>
  <div class="logo-centro">
    <img src="/img/Logo.png" alt="Logo ClimaStock" />
  </div>
</div>

</body>
</html>

