<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Editar Producto</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
<a th:href="@{/}">Volver al Dashboard</a>
<h1>Editar producto</h1>
<form th:action="@{'/productos/actualizar/' + ${producto.id}}" th:object="${producto}" method="post" enctype="multipart/form-data">
  <label>Referencia: <input type="number" th:field="*{id}" required readonly/></label><br>
  <label>Nombre: <input type="text" th:field="*{nombre}" required/></label><br>
  <label>Categoría: <input type="text" th:field="*{categoria}" required/></label><br>
  <label>Estación:
    <select th:field="*{estacion}" required>
      <option value="">Selecciona una estación</option>
      <option value="invierno">Invierno</option>
      <option value="primavera">Primavera</option>
      <option value="verano">Verano</option>
      <option value="otoño">Otoño</option>
    </select>
  </label><br>
  <label>Sección:
    <select th:field="*{seccion}" required>
      <option value="">Selecciona una sección</option>
      <option value="Basic">Basic</option>
      <option value="Woman">Woman</option>
      <option value="TRF">TRF</option>
    </select>
  </label><br>
  <label>Impermeable:
    <select th:field="*{impermeable}" required>
      <option value="">¿Es impermeable?</option>
      <option value="true">Sí</option>
      <option value="false">No</option>
    </select>
  </label><br>
  <label>Imagen actual:
    <span th:if="${producto.imagen != null}">
      <img th:src="@{'/img/' + ${producto.imagen}}" alt="Imagen" style="max-width:250px; max-height:250px;" />
    </span>
    <span th:if="${producto.imagen == null}">Sin imagen</span>
  </label><br>
  <label>Actualizar imagen: <input type="file" name="imagenFile" accept="image/*"/></label><br>
  <button type="submit">Actualizar</button>
</form>
<a th:href="@{/productos}">Volver a la lista</a>
</body>
</html>